
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --dark-blue: hsl(217, 28%, 15%);
    --dark-blue: hsl(218, 28%, 13%);
    --dark-blue: hsl(216, 53%, 9%);
    --dark-blue: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--white);

}

button,
h2,
h3,
nav a {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

header img {
    width: 80px;
}

header nav {
    margin-top: 5px;
}

header nav a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--white);
}

.image{
    max-width: 100%;
    margin-bottom: 30px;
}

.section-one {
    text-align: center;
    width: 80%;
    margin: auto;
}

.section-one img {
    margin-top: 10px;
}

.section-one h2 {
    line-height: 1.7;
    margin-bottom: 15px;
}

.section-one p {
    line-height: 1.7;
    margin-bottom: 20px;
}

.section-one button {
    margin-bottom: 20px;
    padding: 10px 50px;
    border-radius: 30px;
    color: var(--white);
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.section-two {
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.section-two img {
    width: 50px;
    margin-bottom: 15px;
}

.section-two h3 {
    margin-bottom: 10px;
}

.section-two p {
    margin-bottom: 80px;
    color: hsla(0, 0%, 100%, 0.8);
}

.section-three {
    width: 80%;
    margin: auto;
}

.section-three h3 {
    margin: 25px 0 20px 0;
}

.section-three p {
    text-align: left;
    padding-bottom: 10px;
    color: hsla(0, 0%, 100%, 0.8);
}

.section-three a {
    color: var(--cyan);
    padding-bottom: 3px;
    text-decoration: none;
    border-bottom: 1px solid;
    
}

.arrow {
    margin-bottom: -3px;
}

.section-four {
    width: 80%;
    margin: 150px auto;
}

.section-four img {
    width: 30px;
    height: 30px;
}

.founder-profile {
    /* width: 80%; */
    background-color: hsl(219, 30%, 18%);
    margin-bottom: 30px;
    padding: 30px 20px;
    line-height: 1.6;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: hsla(0, 0%, 100%, 0.6);
}

.ceo {
    margin-top: 20px;
    display: flex;
}

.ceo div {
    margin: -5px 0 0 10px;
}

.ceo div span {
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: bold;
}

.ceo img {
    border-radius: 50%;
}

.section-five {
    width: 350px;
    margin: 150px auto;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 1.6;
    font-size: 12px;
    background-color: hsl(219, 30%, 18%);
}

.section-five h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.section-five p {
    font-size: 14px;
    line-height: 1..8;
    margin-bottom: 20px;
}

.section-five input {
    width: 300px;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.section-five button{
    width: 300px;
    padding: 15px 10px;
    border-radius: 30px;
    color: var(--white);
    background-color: hsl(198, 60%, 50%);
    cursor: pointer;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
}

